* {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
/* bintang untuk mencakup semua elemen yg akan ada pada halaman web */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 14, 14);
    padding: 1.4rem 7% ;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999;
}

.navbar .navbar-nav a {
    display: inline-block;
    padding: 0.8rem;
    color: white;
    font-weight: 500;
    font-family: sans-serif;
}
/* inline-block untuk mengatur tinggi dan lebar serta menerapkan padding dan margin pd tautan tsb */

.navbar .navbar-nav a:hover {
    padding: 0.8rem;
    cursor: pointer; 
    background-color: rgb(102, 101, 99);
    color: white;
}


.title {
    display: flex;
    justify-content: center;
    padding: 7rem 0 2rem;
}

.title h1{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 650;
}

.about p {
    display: flex;
    justify-content: center;
    padding: 0 23% 0;
    margin-bottom: 2%;
    text-align: justify;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    /* flex-wrap: wrap; */
    text-align: center;
}

.container .animals img {
    width: 80%;
    padding: 10px;
    /* transform: 1s; */
    position: relative;
    transition: 1s;
    text-align: center;
    margin-bottom: 1rem;
  }
  /* relative mengatur elemen gambar sbg relatif terhadap posisi normalnya di html */
  
  .container .animals img:hover {
    transform: scale(1.1);
  }


footer{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* menempatkan scr horizontal dan memberi ruang kosonga antar elemen */
    align-items: center;
    bottom: 0;
}


.logo img{
    width: 25%;
    display: flex;
    /* justify-content: flex-start; */
    /* diletakka diawal, sejajar ujung kiri wadahnya */
    padding: 1rem 1rem;
    /* margin-left: 0rem; */
    align-items: center;
}

/* .links{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: end;
} */

.links p{
    display: flex;
    color: white;
    padding: 0.3rem ;
    justify-content: end;
    /* bair rata kiri */
    /* padding-left: px; */
}

@media (max-width : 768px) {
    footer {
        flex-direction: column;
    }

    .logo {
        justify-content: center;
        display: flex;
    }

    .links p {
        padding: 0px;
        padding-left: 0px;
        text-decoration: none;
        text-align: center;
        justify-content: center;
    }
}